* {
  box-sizing: border-box;
}

body,html {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
  background-color:FFD9DA;
}

#main-page {
  display:flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #223843;
  display: flex;
  grid-area: head;
  margin: 0;
}

header h2 {
  color: #EFF1F3;
  font-size: 30pt;
  flex-grow: 1;
}

#working-zone {
  grid-area: working;
  display: grid;
  grid-template-areas: "left right" 
                       "left command";
  grid-template-columns: 500px 2fr;
  grid-template-rows: 5fr 50px;
  margin: 0;
  overflow-y: hidden;
}

#left-menu {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  grid-area: left;
}

#mock-api-btn {
  background-color: #9acd32;
  color: white;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  padding: 20pt;
  border: 5px solid rgb(73, 176, 73);
  border-radius: 10px;  
  transition: background-color 500ms linear;
  margin: 10px;
}

#mock-api-btn:hover {
  background-color: rgb(73, 176, 73);
  cursor: pointer;
}

#users-layout {
  overflow-y: scroll;
  flex-grow: 1;
}

.user-profile {
  padding: 1px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: azure;
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.user-profile.selected-plank {
  background-color: lightsteelblue;
}

.user-profile:hover {
  background-color: lightskyblue;
  border: 1px dotted gray;
  padding: 0;
  cursor: pointer;
}

.user-profile.selected-plank:hover {
  background-color: lightskyblue;
}

.user-profile img {
  border: 5px solid darkblue;
  border-radius: 50%;
  margin-top: 30px;
  flex-shrink: 1;
}

.user-description {
  flex-shrink: 1;
}

.user-attributes li{
  overflow-x: hidden;
}

.user-name {
  font-size: larger;
}

#right-part {
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
  grid-area: right;
}

#header-controls {
  display: flex;
}

.right-part-section {
  flex-grow: 1;
  flex-shrink: 1;
}

#operation-layout {
  background-color: #EFF1F3;
  flex-grow: 1;
  overflow-y: scroll;
  font-size: large;
}

.id-operation-form-inputs .custom-field {
  display: flex;
}

.id-operation-form-inputs input {
  flex-grow: 1;
  font-size: large;
}

.id-operation-form-inputs label {
  flex-basis: 200px;
}

#frame-container {
  flex-grow: 1;
  display: flex;
}

iframe {
  flex-grow: 1;
}




